/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --color-text: var(--skin-night);
  --color-main-title: var(--purple);
  --color-section-title: var(--red);
  --color-section-subtitle: var(--darkblue);
  --accent-color: var(--red);
  --accent-color-focus: var(--darkred);
  --color-background: var(--darkblue);
  --color-header-extras: var(--red);
  --color-header-hover: var(--darkred);
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  background-image: url(../images/cover-image-dark.png);
}