/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: rgba(255, 141, 203, 1);
  --header-text-color: rgba(255, 194, 230, 1);
  --dark-text-color: rgba(53, 52, 48, 1);
  --dark-background-color: rgba(255, 141, 203, 1);
  --header-bg-color: rgba(255, 241, 247, 1);
  --paragraph-text: rgba(53, 52, 48, 1);
  --button-color: rgba(53, 52, 48, 1);
  --main-text-color: rgba(53, 52, 48, 1);
  --border-color: rgba(53, 52, 48, 1);
  --for-hover: rgba(50, 49, 45, 0.4);
}

.theme-light .page {
  --header-bg-img: url(../images/cover-image-light.png);
}

.theme-light .header__theme-menu-button:hover {
  --for-hover: rgba(50, 49, 45, 0.4);
}

.theme-light .header__theme-menu-button_active {
  border: 1px solid var(--button-color);
}

.theme-light .lamp,
.theme-light .h__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: rgba(255, 141, 203, 1);
    --header-text-color: rgba(255, 194, 230, 1);
    --dark-text-color: rgba(53, 52, 48, 1);
    --dark-background-color: rgba(255, 141, 203, 1);
    --header-bg-color: rgba(255, 241, 247, 1);
    --paragraph-text: rgba(53, 52, 48, 1);
    --button-color: rgba(53, 52, 48, 1);
    --main-text-color: rgba(53, 52, 48, 1);
    --border-color: rgba(53, 52, 48, 1);
    --for-hover: rgba(50, 49, 45, 0.4);
  }

  .page {
    --header-bg-img: url(../images/cover-image-light.png);
  }

  .lamp,
  .h__rec {
    display: none;
  }
}
