.page {
  font-family: var(--font-family);
  letter-spacing: 0;
  background-color: var(--header-bg-color);
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr min-content 1fr;
  width: 100vw;
  height: 100vh;
  padding: var(--main-padding);
  min-block-size: 668px;
}

.h__title {
  grid-row: 2;
  justify-self: center;
  align-self: center;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.corner__up {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-inline-start: 330px;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.corner__bottom {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-block-start: 623px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.f__corner__up {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-inline-start: 330px;
  margin-block-end: 622px;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.f__corner__bottom {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-inline-start: 0;
  margin-block-start: 622px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.h__rec {
  position: absolute;
  margin-inline-start: 294px;
  color: var(--accent-color);
  font-weight: var(--font-regular);
  font-size: var(--font-size);
  text-transform: uppercase;
}

.header__theme-menu {
  grid-row: 1;
  justify-self: end;
  align-self: center;
}

.title {
  color: var(--header-text-color);
  font-weight: var(--font-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
}

.decorated-zone {
  background-image: var(--header-bg-img);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.s__head {
  grid-column: 1;
  grid-row: 1;
  min-width: 236px;
  color: var(--main-text-color);
  font-weight: var(--font-bold);
  font-size: var(--font-size);
}

.title-decor {
  color: var(--dark-text-color);
  background-color: var(--dark-background-color);
}

.h__description {
  grid-row: 3;
  justify-self: center;
  align-self: center;
  font-weight: var(--font-bold);
  font-size: var(--font-size);
}

.s__header {
  font-weight: var(--font-bold);
  font-size: var(--font-size);
}

.s__header_pictures {
  margin-bottom: 10px;
  font-weight: var(--font-bold);
  font-size: var(--font-size);
}

.s__header_regular {
  font-weight: var(--font-regular);
  font-size: var(--font-size);
}

.s__text {
  color: var(--paragraph-text);
  font-size: var(--font-size);
  line-height: 23.4px;
}

ul {
  list-style: none;
}

.f__title {
  justify-self: center;
  align-self: center;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.footer {
  display: grid;
  width: 100vw;
  height: 100vh;
  padding: var(--main-padding);
  min-block-size: 668px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  border: none;
  padding: 0 13px;
  color: var(--main-text-color);
  font-family: var(--font-family);
  font-weight: var(--font-regular);
  font-size: var(--font-size);
  line-height: 18px;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--border-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  border: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--border-color);
  outline: 0;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--for-hover);
}

.main {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--section-gap);
  padding: var(--vertical-padding-main) var(--horizontal-padding-main);
}

.section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.content__second {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.section__content-card-item {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.gallery {
  display: grid;
  gap: 10px;
}

.card__images img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.lamp {
  position: absolute;
  width: 9px;
  height: 9px;
  margin-inline-start: 337px;
  margin-block-start: 8px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background: var(--accent-color);
}

a {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

a:hover {
  border-bottom: 1.75px solid var(--paragraph-text);
  padding-bottom: 0;
  text-shadow: 2px 1px 0 var(--accent-color);
}

a:focus {
  border: none;
}

a:focus-visible {
  border: 1px solid var(--paragraph-text);
  padding-right: 4px;
  padding-left: 3px;
  outline: none;
}

@media (min-width: 768px) {
  :root {
    --main-padding: 20px;
    --section-gap: 80px;
    --vertical-padding-main: 60px;
    --horizontal-padding-main: 20px;
  }

  .title {
    font-size: 120px;
  }

  .header {
    grid-template-columns: 1fr 1fr;
  }

  .h__title {
    grid-column: 1 / 3;
    justify-self: start;
    margin-inline-start: -20px;
  }

  .h__description {
    grid-column: 2;
  }

  .header__theme-menu {
    grid-column: 2;
  }

  .card__images img {
    height: 100%;
  }
  .corner__up {
    margin-inline-start: 703px;
    border-top: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
  }

  .corner__bottom {
    margin-block-start: 959px;
  }

  .h__rec {
    position: absolute;
    margin-inline-start: 667px;
    color: var(--accent-color);
    font-weight: var(--font-regular);
    font-size: var(--font-size);
    text-transform: uppercase;
  }

  .lamp {
    margin-inline-start: 710px;
  }

  .section__first {
    grid-template-columns: repeat(3, 1fr);
  }

  .content {
    grid-column: 2 / 4;
  }

  .section__second {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 1fr 1fr 1fr;
  }

  .content__second {
    grid-column: 1 / 4;
    grid-row: 2 / 5;
  }

  .section__third {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery {
    grid-auto-columns: repeat(3, 1fr);
    grid-auto-rows: repeat(3, 1fr);
    gap: 20px;
  }

  .sunset {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .ice {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .tape {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .book {
    grid-column: 2;
    grid-row: 2;
  }

  .street {
    grid-column: 2 / 4;
    grid-row: 3;
  }

  .f__corner__up {
    margin-inline-start: 703px;
    margin-block-start: 0;
  }

  .f__corner__bottom {
    margin-inline-start: 0;
    margin-block-start: 959px;
  }

  .card__images {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 157px;
  }
  .corner__up {
    margin-inline-start: 959px;
  }

  .corner__bottom {
    margin-block-start: 703px;
  }

  .h__rec {
    margin-inline-start: 923px;
  }

  .lamp {
    margin-inline-start: 966px;
  }

  .card__images img {
    height: 100%;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
    align-self: center;
  }

  .header__theme-menu {
    grid-column: 1 / 3;
    justify-self: center;
    align-self: start;
  }

  .content__second {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: start;
  }

  .f__corner__up {
    margin-inline-start: 959px;
    margin-block-start: 0;
  }

  .f__corner__bottom {
    margin-inline-start: 0;
    margin-block-start: 703px;
  }
}
