:root {
  --accent-color: rgba(255, 0, 112, 1);
  --header-text-color: rgba(219, 0, 255, 1);
  --dark-text-color: rgba(0, 0, 40, 1);
  --dark-background-color: rgba(255, 0, 112, 1);
  --header-bg-color: #000028;
  --paragraph-text: #F1B2CE;
  --button-color: #ff0070;
  --main-text-color: #ff0070;
  --border-color: #ff0070;
  --for-hover: rgba(255, 0, 112, 0.4);
  
  --font-regular: 400;
  --font-bold: 700;
  --header-bg-img: url(../images/cover-image-dark.png);

  --font-family: 'IBM Plex Mono', monospace;
  --font-size: 18px;

  --margin-but-menu: 10px;
  --section-gap: 50px;
  --vertical-padding-main: 40px;
  --horizontal-padding-main: 10px;
  --main-gap: 10px;
  --main-padding: 10px;
}
